$m-1440: 1440px;
$m-1080: 1080px;
$m-768: 768px;
$m-480: 480px;

$light-color: #fff;
$darc-color: #323232;
$title-color: #1f4284;
$text-color: #727272;
$block-color: #ebf0fa;
$button-color: #244c98;

$radius-10: 10px;

$l-height-160: 160%;
